/*GENERALI*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin: 0;
    padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

*:focus{
	outline:0;
}

html, body {
    height: 100%;
	overflow: hidden;
}

#container{
	position: relative;
	width: 100%;
	height: 100%;
}

/*BARRA DI SCORRIMENTO*/
::-webkit-scrollbar {
    width: 12px;
}

::scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*NAVIGAZIONE*/
.navigation{
	background-color:#ffffff;
	box-shadow: inset 25px 0px 30px -25px grey, inset -25px 0px 30px -25px grey;
	position: absolute;
	width: 30%;
	min-width: 355.25px;
	height:100%;
	left: -2000px;
	z-index: 2;
	transition: left 0.3s;
	-webkit-transition: left 0.3s;
}

.out{
	transition: none;
	-webkit-transition: none;
}

#ricerca{
	position: absolute;
	background-color:#fafafa;
	color: #900;
	width: 25%;
	min-width: 339.25px;
	margin: 8px;
	height: 48px;
	z-index: 3;
	border-radius: 2px;
}

[name="form_ricerca"]{
	position:relative;
	float: left;
	width: 100%;
	overflow: auto;
}

#ricerca_luogo{
	position: relative;
	float:left;
	height: 34px;
	width: 82%;
	padding-left: 5px;
	margin-top: 6px;
	margin-left: 6px;
}

#x{
	float:right;
	position: absolute;
	display: block;
	margin-left: 75%;
	margin-top: 11px;
	width: 16px;
	height: 16px;
	padding: 5.5px;
}

#cerca{
	position: relative;
	float:right;
	margin: 4px;
	margin-top: 10px;
	width: 30px;
	height: 30px;
}

#tasto{
	position: absolute;
    top: 50%;
    left: 100%;
	height: 48px;
	width: 23px;
}

#tasto button{
	height:100%;
	width:100%;
	cursor: pointer;
	border: 1px solid grey;
}

#tasto button:hover{
	background-color: trasparent;
}

#tasto button:visited{
	background-color: trasparent;
}

#tasto button:active{
	background-color: trasparent;
}


#arrow{
	height: 15px;
	width: 15px;
}

/*LISTA SUGGERIMENTI*/
#ui-id-1{
	z-index: 4;
	max-height: 500px;
	width: 225px;
	max-width: 500px;
	overflow: auto;
	background-color: white;
	cursor: pointer;
}

#ui-id-1 li:hover{
	background-color: #fafafa;
}

#ui-id-1 li:in-range{
	background-color: #fafafa;
}

.ui-helper-hidden-accessible{
	display: none;
}

/*STRUTTURE E ATTRAZIONI*/
#background{
	width: 100%;
	min-height: 64px;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
}

.box_ricerca{
	width: 100%;
}

.argument{
	width: calc(90%-2px);
	border: 1px solid grey;
	padding: 20.484px;
}

#strutture .argument{
	border-bottom: 2px solid #0000ff;
}

#attrazioni .argument{
	border-bottom: 2px solid red;
}

.argument p{
	width: 80%;
	height: 17px;
	display: inline-block;
}

.campi_ricerca{
	height: 0;
	background-color: white;
	overflow: auto;
	-webkit-transition: height 1s;
    transition: height 1s;
}

.expand{
	width: 25px;
	height: 25px;
	position: relative;
	float: right;
	display: inline-block;
}

#ricercaA, #ricercaS {
	position: relative;
}

#ricercaA ul, #ricercaS ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

.list{
	z-index:1;
}

.list li {
	padding: 3%;
	border: 1px solid grey;
	cursor: pointer;
}

.list li:hover{
	background-color: #fafafa;
}

.pagination{
	text-align: center;
}

.pagination li{
	display:inline-block;
	padding:5px;
	border: 0px;
}

.pagination a{
	text-decoration: none;
	color: grey;
}

.active a{
	color: black;
	font-weight: bold;
}

.i{
	display: table;
	width: 100%;
}

.anteprima{
	height: 92px;
	width: 80px;
	border: 1px solid black;
	position: relative;
	top:0;
	float: right;
}

.info{
	position: relative;
	top:0;
	float: left;
	width: 75%;
}

.info p{
	text-transform: capitalize;
}

.star{
	height: 15px;
	width: 15px;
	display: inline;
}

.icons{
	margin-top: 5px;
	height: 26px;
	width: 26px;
	display: inline-block;
}

.infoscheda{
	width: 90%;
	display: inline;
}

.infoscheda a{
	text-decoration: none;
	color: black;
}

#schedaS,#schedaA{
	background-color: white;
	width: 100%;
	min-height: 453px;
	z-index:2;
	position: relative;
}

#schedaS form, #schedaA form{
	z-index: 3;
	position: absolute;
}

.chiudi{
	cursor: pointer;
	width: 5%;
	min-width: 15px;
	margin: 5px;
	z-index: 3;
	padding: 15%;
	border-radius: 4px;
	background-color: white;
	opacity: 0.9;
}

.foto{
	width: 100%;
	min-height: 178.77px;
	display: block;
}

.foto img{
	width: 100%;
	display:block;
}

.header{
	width: 90%;
	padding: 5%;
	color: white;
}

#header1{
	background-color: #0000ff;
}

#header2{
	background-color: red;
}

.name{
	font-size: 18px;
}

.contenuto{
	width: 90%;
	padding: 5%;
}

.website:hover{
	text-decoration: underline;
}

/*MAPPA*/
#main{
	z-index: 0;
	overflow:auto;
	float: right;
	width: 100%;
	position: relative;
	height: 100%;
}

#map{
	width: 100%;
	height: 100%;
}

/*MEDIA QUERY*/
@media all and (max-width: 1178px) {
	.navigation{
		left: -378.25px;
	}
}