/*GENERALI*/
*{
	margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
	overflow: hidden;
}

input:focus{
	outline:0;
}

::-webkit-scrollbar {
    width: 12px;
}

::scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#container{
	position: relative;
	width: 100%;
	height: 100%;
}

/*NAVIGAZIONE*/
#navigation{
	background-color:#ffffff;
	box-shadow: inset 25px 0px 30px -25px grey, inset -25px 0px 30px -25px grey;
	position: relative;
	width:30%;
	height:100%;
	float:left;
}

#ricerca{
	background-color:#fafafa;
	color: #900;
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	height: 40px;
}

[name="form_ricerca"]{
	position:relative;
	float: left;
	width: 100%;
	overflow: auto;
}

#indietro{
	position:relative;
	float: left;
	width: 40px;
	height: 40px;
}

#indietro:hover{
	box-shadow: inset 25px 0px 30px -25px grey, inset -25px 0px 30px -25px grey;
}

#back{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-left: 5px;
}

#ricerca_luogo{
	position: relative;
	float:left;
	height: 30px;
	width: 225px;
	padding-left: 5px;
	margin-top: 5px;
	margin-left: 20px;
}

#x{
	float:right;
	position: absolute;
	display: block;
	margin-left: 250px;
	margin-top: 7px;
	width: 26px;
	height: 26px;
}

#cerca{
	position: relative;
	float:right;
	margin-top: 5px;
	width: 30px;
	height: 30px;
}

#ui-id-1{
	max-height: 500px;
	width: 225px;
	max-width: 500px;
	overflow: auto;
	background-color: white;
}

#ui-id-1 li:hover{
	background-color: grey;
}

.ui-helper-hidden-accessible{
	display: none;
}

/*STRUTTURE*/
.box_ricerca{
	width: 100%;
}

.argument{
	width: calc(90%-2px);
	border: 1px solid grey;
	padding: 5%;
}

#strutture .argument{
	border-bottom: 2px solid blue;
}

#attrazioni .argument{
	border-bottom: 2px solid red;
}

.argument p{
	width: 50%;
	display: inline-block;
}

.campi_ricerca{
	height: 0;
	background-color: white;
	overflow: auto;
	-webkit-transition: height 1s;
    transition: height 1s;
}

.open{
	height: 300px;
}

.expand{
	width: 25px;
	height: 25px;
	position: relative;
	float: right;
	display: inline-block;
}

.star{
	height: 15px;
	width: 15px;
	display: inline;
}

.icons{
	height: 26px;
	width: 26px;
	display: inline;
}

/*MAPPA*/
#main{
	overflow:auto;
	float: right;
	width: 70%;
	position: relative;
	height: 100%;
}

#map{
	height: 100%;
}