/*GENERALI*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin: 0;
    padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #262261;
}

*:focus{
	outline:0;
}

html, body {
    min-height: 100%;
}

a {
	text-decoration: none;
}
/*HEADER*/
#header{
	width: 100%;
	background-color: #B6D78B;
}

#header img{
	display: block;
	position: relative;
	width: 40%;
	padding: 10px 0;
	margin: 0 auto;
}

#contenuto{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
/*MENU*/
#menu{
	border-bottom: 2px solid #B6D78B;
}

.progressbar{
    counter-reset: step;
	margin: 30px auto;
	display: table;
	width: 100%;
}

.progressbar li {
    list-style-type: none;
    width: 33.3%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressbar li a{
	color: #7d7d7d;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #B6D78B;
}

.progressbar li.active a{
    color: #B6D78B;
}

.progressbar li.active:before {
    border-color: #B6D78B;
}

.progressbar li.active:after {
    background-color: #B6D78B;
}


/*LOGIN - MODIFICA - STATISTICHE*/

#intro{
	margin: 20px auto 10px auto
}

form{
	display: block;
	padding: 20px;
	width: 80%;
	text-align: left;
	margin: 0 auto;
}

input, form select{
	display: block;
	border: 1px solid #262261;
	width: 100%;
	height: 20px;
	padding: 0 10px;
	border-radius: 4px;
	transition: box-shadow .25s ease,-webkit-box-shadow .25s ease;
}

form select{
	width: 100%;
	height: 22px;
}

input:hover, form select:hover , textarea:hover{
	box-shadow: inset 0 0 0 1px #262261;
}

.go{
	width: 100%;
	margin-top: 10px;
}

/*LOGIN*/
#login{
	display: table;
	width: 100%;
	margin: 30px auto;
}

#welcome{
	padding: 10px;
	width: calc(45% - 20px);
	margin: 0 2.5%;
	background-color: #8AD0EF;
	border-radius: 15px;
	float: left;
	min-height: 250px;
	position: relative;
}

#welcome p{
	font-size: 14px;
	margin-bottom: 15px;
}

#accedi{
	padding: 10px 0;
	width: 45%;
	margin: 0 2.5%;
	min-height: 250px;
	background-color: #f9b05b;
	border-radius: 15px;
	float: right;
}

#welcome h3{
	margin-bottom: 15px;
}

/*MODIFICA, STATISTICHE*/
#profile{
	width: 20%;
	margin-left: 80%;
}

#utente, #logout{
	display: inline-block;
}

#utente{
	padding-right: 10px;
	border-right: solid 1px #262261;
}
#logout{
	cursor: pointer;
}

#utente img{
	margin-bottom: -5px;
}

#logout img{
	margin-bottom: -7px;
}

#utente p, #logout p{
	display: inline-block;
	font-size: 14px;
}

#utente img{
	width: 32px;
	height: 32px;
}

#logout img{
	width: 32px;
	height: 32px;
}

#modifica, #statistiche{
	display: table;
	width: 100%;
	margin: 15px auto;
}

#obbligatori, #dati_generali{
	padding: 10px 0 30px 0;
	width: 100%;
	background-color: #8AD0EF;
	border-radius: 15px;
	min-height: 250px;
	display: table;
}

#facoltativi, #dati_specifici{
	padding: 10px 0 30px 0;
	margin-top: 30px;
	width: 100%;
	min-height: 250px;
	background-color: #f9b05b;
	border-radius: 15px;
	display: table;
}

.destra{
	float: right;
	width: 45%;
	margin-left: 5%;
}

.sinistra{
	float: left;
	width: 45%;
	margin-right: 5%;
}

.centro{
	clear: both;
	display:block;
	float: none;
}

label{
	display: block;
	margin-top: 10px;
	margin-bottom: 2px;
}

#stelle input, #servizi input, #lingue input{
	display: inline;
	padding: 0;
	width: 15px;
	height: 15px;
}

#stelle input:hover, #servizi input, #lingue input{
	box-shadow: none;
}

.star{
	height: 15px;
	width: 15px;
	display: inline;
}

textarea{
	display: block;
	width: 100%;
    height: 150px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 1px solid #262261;
    border-radius: 4px;
    resize: none;
	transition: box-shadow .25s ease,-webkit-box-shadow .25s ease;
}

#orari{
	height: 77px;
}

#servizi{
	font-size: 12px;
	display: block;
	height: 250px;
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid #262261;
	border-radius: 4px;
	padding: 10px;
}

#servizi input{
	height: 15px;
}

#lingue{
	display: block;
	min-height: 250px;
	box-sizing: border-box;
	border: 1px solid #262261;
	border-radius: 4px;
	padding: 2%;
}

.lingua{
	width: 32%;
	display: inline-block;
	text-align: center;
}

#lingue input{
	height: 29px;
}

.lang{
	max-width: 30px;
	margin-left: 2px;
	display: inline-block;
}

#scegli_foto{
	width: 80%;
	display: table;
	margin: 10px auto;
}

#info_photo{
	font-size: 10px;
	text-align: center;
}

#NomeFile{
	text-align: center;
	display: block;
	font-size: 12px;
	width: calc(50% - 2px);
	height: 19px;
	overflow: hidden;
	padding-top: 5px;
	border: 1px solid #262261;
	background-color: white;
	float: left;
}

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

.myLabel {
	text-align: center;
    border: 1px solid #262261;
    padding: 3px 5px;
    background: #DDD;
	font-size: 14px;
	width: calc(50% - 12px);
	height: 18px;
	margin: 0;
    display: block;
	float: right
}

.myLabel:hover {
    background: #CCC;
}

.image_prewiew{
	border: 1px solid #262261;
	background-color: white;
	margin: 0 auto;
	max-width: 298px;
	min-height: 169px;
	border-radius: 5px;
	position: relative;
}

.image_prewiew img{
	width: 100%;
	height: 169px;
	max-width: 298px;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
}

.clear{
	height: 24px;
	width: 24px;
	border-radius: 50%;
	padding: 1px;
	position: absolute;
	z-index: 1;
	border: 1px solid #262261;
	background-color: #DDD;
	background-position: center center;
	background-repeat: no-repeat;
	top: -13px;
	right: -13px;
	display: none;
}

#err_msg, #img_msg{
	font-size: 12px;
	text-align: center;
	color: #ff0f00;
}

#Invia{
	margin: 3% auto;
	width: 20%;
	height: 20px;
}

/*STATISTICHE*/
.graficoG{
	min-width: 310px;
	height: 400px;
	margin: 2.5%;
}

.graficoP{
	width: 32%;
	margin: 0.65%;
	height: 300px;
}

.avviso{
	border: 2px solid #262261;
	border-radius: 50%;
	position: relative;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	
}

.avviso p{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#attrazioni_vicine{
	clear: both;
	position: relative;
	margin: 0 auto;
	max-width: 600px;
	min-height: 300px;
}

.swiper-container {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.swiper-slide {
	background-color: white;
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.swiper-pagination-bullet-active{
	background: #262261;
}

.swiper-button-next{
	background-image: url('../images/right.svg');
}

.swiper-button-prev{
	background-image: url('../images/left.svg');
}

.didascalia img{
	display: block;
}

/*AUTORIZZAZIONE*/
#autorizzazione{
	margin: 3% 0 3% 0;
}
#autorizzazione input{
	width: 20px;
	height: 15px;
	margin-top: 2px;
	display: inline-block;
}

/*MEDIA QUERIES*/

@media all and (max-width: 1000px), (max-device-width: 1000px){
	#profile{
		width: 40%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.destra, .sinistra{
		float: none;
		clear: both;
		margin: 2.5% auto;
		min-width: 0;
		width: 70%;
	}
	#NomeFile{
		font-size: 10px;
	}
}
@media all and (max-width: 906px), (max-device-width: 906px) {
	#accedi, #welcome{
		float: none;
		clear: both;
		width: 70%;
		margin: 10px auto;
	}
	#welcome{
		width: calc(70% - 20px);
	}
	#header img{
		width: 50%;
	}
	.progressbar{
		margin: 20px auto;
	}
}

@media all and (max-width: 800px), (max-device-width: 800px) {
	.destra, .sinistra{
		width: 90%;
	}
	
	#attrazioni_vicine{
		max-width: 400px;
		min-height: 300px;
	}
	
	.didascalia img{
		width: 200px;
	}

	.swiper-slide {
		width: 200px;
		height: 200px;
	}
}

@media all and (max-width: 768px), (max-device-width: 768px) {
	#accedi{
		width: 80%;
	}
	#welcome{
		width: calc(80% - 20px);
	}
	#header img{
		width: 60%;
	}
	#scegli_foto{
		width: 90%;
	}
}

@media all and (max-width: 540px), (max-device-width: 540px) {
	#profile{
		width: 100%;
		margin: 0;
	}
	#accedi{
		width: 100%;
	}
	#welcome{
		width: calc(100% - 20px);
	}
	#header img{
		width: 70%;
	}
	
	#attrazioni_vicine{
		max-width: 300px;
		min-height: 300px;
	}
	
	#contenuto{
		width: 90%;
	}
	
	.graficoP, .graficoG{
		width: 98%;
		height: 300px;
		margin: 2.5% 1%;
	}
}

@media all and (max-width: 440px), (max-device-width: 440px) {
	#header img{
		width: 80%;
	}
	#scegli_foto{
		width: 100%;
	}
	#facoltativi form, #obbligatori form{
		width: 100%;
		padding: 0;
	}
	
	#NomeFile{
		font-size: 8px;
	}
	
	.myLabel span{
		font-size: 10px;
	}
	
	#lingue{
		padding: 0;
	}
	.destra, .sinistra{
		margin: 0, auto;
	}
	.avviso{
		height: 200px;
		width: 200px;
		font-size: 12px;
	}
	.highcharts-subtitle, .highcharts-axis-title{
		font-size: 10px;
	}
	
}

@media all and (max-width: 360px), (max-device-width: 360px) {
	#attrazioni_vicine{
		max-width: 250px;
		min-height: 250px;
	}
	
	.didascalia{
		font-size: 12px;
	}
	
	.didascalia img{
		width: 150px;
	}

	.swiper-slide {
		width: 150px;
		height: 150px;
	}
}
