body		{
				background-color: #CCFFFF;
				overflow:scroll;
				font-family: verdana;
				/*Per Firefox:*/
				background: -moz-linear-gradient(left, #CCFFFF 0%, #CCFFFF 18%, #FFFFFF 20%, #FFFFFF 80%, #CCFFFF 82%, #CCFFFF 100%);
				/*Per Chrome, Safari 4+:*/
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2E64FE), color-stop(50%,#2E64FE), color-stop(70%,#088A08), color-stop(80%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#FF0000));
			}
			
#header 	{	 	
				/*Per Firefox:*/
				background: -moz-linear-gradient(left, #0404B4 0%, #2E64FE 40%, #2E64FE 50%, #088A08 70%, #FFFFFF 80%, #FFFFFF 90%, #FF0000 100%);
				/*Per Chrome, Safari 4+:*/
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0404B4), color-stop(40%,#2E64FE), color-stop(50%,#2E64FE), color-stop(70%,#088A08), color-stop(80%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#FF0000));
				height: 150px;
				width: 99%;
				display: block;
				border-color: #0404B4;
				border-width: 3px;
				border-style: solid;
				border-radius: 20px;
			}
			
h1			{
				color: #FFFFFF;
				font-size: 60px;
				width: 75%;
				margin-top: 20px;
				float: right;
				text-shadow: 4px 4px 4px #0404B4;
			}
			
h2			{
				color: #FFFFFF;
				font-size: 20px;
				width: 75%;
				margin-top: -40px;
				float: right;
				text-shadow: 4px 4px 4px #0404B4;
			}
			
#logo		{
				margin-top: -40px;
				width:30%;
			}
			
#fascia			{
				margin-left: 20%;
				margin-right: 20%;
				margin-top: 2%;
			}
			
#menu		{
				width: 61%;
				margin-top: 1%;
				margin-left: 35%;
			}
			
button		{
				background: -moz-linear-gradient(left, #0404B4 0%, #CCFFFF 18%, #CCFFFF 30%, #CCFFFF 70%, #CCFFFF 82%, #0404B4 100%);
				color: #0404B4;
				font-size: 0.85em;
				font-weight: bolder;
				margin-top: 2px;
				height: 35px;
				width: 100px;
				border-radius: 12px;
				border-color: #0404B4;
				box-shadow: 0px 3px 3px ;
				text-shadow: 4px 2px 1px rgba(256, 256, 256, 1);
			}
			
.active 	{	
				background: -moz-linear-gradient(left, #CCFFFF 0%, #0404B4 18%, #0404B4 30%, #0404B4 70%, #0404B4 82%, #CCFFFF 100%);
				color: #CCFFFF;
				border-color: #0404B4;
				text-shadow: 0px 0px 0px rgba(131, 155, 113, 1);
			}	
#rappr		{
				margin-top: 3%;
				margin-left: 21%;
				font-weight: bold;
				font-size: 23px;
				color: #0404B4;
			}	
			
#descr		{
				margin-top: 5%;
				color: #0404B4;
			}
			
#container	{
				margin-top: 5%;
			}